<head>
  <title>HabitatForHumanityApp</title>
</head>

<body>
<div ng-controller="DemoCtrl" layout="column">
  <md-content layout-padding class="autoScroll">

    <md-input-container class="md-icon-float" >
      <!-- Use floating label instead of placeholder -->
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.name" type="name" placeholder="Name" ng-required="true">
      <div ng-messages="user.name.$error">
          <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container >
      <!-- Use floating placeholder instead of label -->
      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
      <div ng-messages="user.email.$error">
          <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container>
      <!-- Use floating placeholder instead of label -->
      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="user.email" type="email" placeholder="Confirm email address (required)" ng-required="true">
      <div ng-messages="user.email.$error">
          <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <div ng-controller="SelectOptGroupController" class="md-padding">
  		<div>
    	<h1 class="md-title">Pick your chapter below</h1>
    		<div layout="row">
		      	<md-select ng-model="chapter" placeholder="Chapter">
		        	<md-option ng-repeat="user.chapter" value="{{user.chapter}}">{{user.chapter}}</md-option>
		      	</md-select>
		      	<md-select ng-model="user.chapter" placeholder="Chapter">
        			<md-optgroup label="Chapters">
          			<md-option ng-value="user.chapter" ng-repeat="user.chapter">{{user.chapter}}</md-option>
        			</md-optgroup>
      			</md-select>
    		</div>
  		</div>
	</div>

    <div layout="row">
      <md-button class="btn1"> Cancel </md-button>
      <md-button class="btn1"> Save </md-button>
    </div>

  </md-content>
</div>
</body>