<ion-view title="Habitat For Humanity App" hide-back-button="true">
<!-- <ion-nav-bar class="bar-dark"></ion-nav-bar> -->
<ion-content>
    <div class="list list-inset" id="vma_login_padding">
        <center><img src="img/hfh_long_big.jpg" class="item" style="max-height: 100%; max-width: 100%"></center>
        <form class="submit" ng-submit="submit()">
            <label class="item item-input">
                <input type="email" ng-model="$parent.userName" placeholder="EMAIL">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="$parent.passWord" placeholder="PASSWORD">
            </label>
            <button type="submit" class="button button-block button-positive">Submit</button>
        </form>
    </div>
    <center><a class="button button-icon" ui-sref="register">REGISTER HERE</a></center>
</ion-content>
</ion-view>
