<ion-view title="Habitat For Humanity App">
    <ion-content>
        <ul class="list dark">
            <li>
                <a ui-sref-active="active" class="item ion-ios7-home-outline" menu-close nav-clear ui-sref="secure.cfeed">
                    Home
                </a>
            </li>
            <li>
                <a ui-sref-active="active" class="item ion-clock" menu-close nav-clear ui-sref="secure.hours">
                    Check in/Check out
                </a>
            </li>
            <li>
                <a ui-sref-active="active" class="item ion-ios7-people" menu-close nav-clear ui-sref="secure.myGroups">
                    My Chapter
                </a>
            </li>
            <li>
                <a ui-sref-active="active" class="item ion-ios7-person" menu-close nav-clear ui-sref="secure.myTasks">
                    My Build Dates
                </a>
            </li>
            <!--
            <li>
                <a class="item" menu-close nav-clear ui-sref="secure.myInvites">
                        WIP - My Invites
                </a>
            </li>
            -->
            
            <li>
                <a ui-sref-active="active" class="item ion-ionic" menu-close nav-clear ui-sref="secure.awards">
                    Badges
                </a>
            </li>
            <li>
                <a ui-sref-active="active" class="item ion-calendar" menu-close nav-clear ui-sref="secure.calendar">
                    Calendar
                </a>
            </li>
            <li>
                <a ui-sref-active="active" class="item ion-ios7-bookmarks" menu-close nav-clear ng-show="isAdm" ui-sref="secure.hours_mod">
                    Hours Moderation
                </a>
            </li>
            <li>
                <a ui-sref-active="active" class="item ion-ios7-gear-outline" menu-close nav-clear ui-sref="secure.settings">
                    Settings
                </a>
            </li>
                <a ui-sref-active="active" class="item ion-android-cart" ng-href="http://www.habitat.org/shop" target="_blank">
                    The Habitat Store
                </a>
            <li>
        </ul>
    </ion-content>
</ion-view>
