<ion-view title="Registration">
<ion-nav-bar class="bar-dark">
    <button class="button button-icon button-clear" ui-sref="login"><i class="icon ion-ios7-arrow-back"></i></button>
</ion-nav-bar>





<ion-content>
    <div class="list">
        <form class="list" name="registerform" ng-submit="registerUser()">
            <!-- Name -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" ng-model="$parent.register.Name" placeholder="Jane Doe">
            </label>
            <!-- Email -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="$parent.register.username" placeholder="janedoe@example.com">
            </label>
            <!-- Phone Number -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone Number</span>
                <input type="number" ng-model="$parent.register.phoneNumber" placeholder="123-123-1234">
            </label>
            <!-- Chapter -->
            <label class="item item-input item-select">
                <div class="input-label"> Chapter </div>
                <select>
                    <option>example 1</option>
                    <option>example 2</option>
                    <option>example 3</option>
                </select>
            </label>
            <!-- Password -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="$parent.password.password">
            </label>
            <!-- Confirm Password -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-model="$parent.confirm.password">
            </label>
            <!-- Ask if user is a minor -->
            Are you a minor?
            <input type="checkbox" value="Bike">Yes
            <input type="checkbox" value="Bike">No

            <!-- Terms and Conditions Check
            <div class="item item-text-wrap"> Terms and Conditions </div>
            <input style="width:100px; height:20px;" type="radio" ng-model="Bike" value="yes"/>I agree to the terms and conditions above. -->

            <!-- if form is invalid ng-submit will handle it -->
            <button type="submit" class="button button-block button-dark">Submit</button>
        </form>
    </div>
</ion-content>