<ion-view title="Settings">
<ion-content>
    <div class="card">
        <h2>About the App </h2>
        <p>The app was created by Data Analytics in Student Hands (DASH), an Honors College organization with contributions by Carl Stephen, Hejal Soni, Binh Tran, and Christopher Holley.</p>
        <img src="img/DASH-rec.jpg" height="85px">
    </div>

    <div class="list">
        <div class="item">
            <b>Username:</b> {{uin}}
        </div>
        <!--<div class="item" ui-sref="secure.userPicture">-->
            <!--Profile Picture-->
        <!--</div>-->
        <!--<div class="item" ng-click="changePassword()">-->
            <!--Change Password-->
        <!--</div>-->
        <div class="item" ng-click="logOutUser()">
            Log Out
        </div>
    </div>
</ion-content>
</ion-view>